:root {
  --orange: #fb5607;
  --yellow: #FFBE08;
  --pink: #FF006E;
  --purple: #8338EC;
  --blue: #3A86FF;
  --background: #00317a;
}

body {
  background: linear-gradient(0deg, rgba(58,134,255,1) 10%, rgba(255,0,110,1) 90%);
  filter: blur(0.5px);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Averia Serif Libre', cursive;
}

.playingArea {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marginedArea {
  height: 90%;
  width: 90%;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-text-content: space-evenly;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  height: 100%;
  width: 40%;
  background-color: var(--blue);
  background-image: url(/fonts/imagey/card-blank-design-3.jpg);
  background-size: cover;
  background-position: center;
  border-top: 2px solid black;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
  border: 1px solid var(--purple);
  /* animation-name: slideUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  backface-visibility: hidden; */
}

.flip {
  animation-name: flipCard;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  backface-visibility: hidden;
}

.stats {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.9em;
}

.stat {
  overflow: hidden;
  height: 10%;
  width: 70%;
  margin: 20px 0;
}

.temp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-right: auto;
 transition: all 300ms ease-out;
}

.title:hover {
  color: var(--orange);
}

.mainMenu {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background: linear-gradient(302deg, #8338ec, #ff006e, #ffbe08, #3a86ff);
  background-size: 800% 800%;

  -webkit-animation: gradientAnimated 30s ease infinite;
  -moz-animation: gradientAnimated 30s ease infinite;
  -o-animation: gradientAnimated 30s ease infinite;
  animation: gradientAnimated 30s ease infinite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

h1 {
  font-family: 'Press Start 2P';
  font-size: 3em;
}

.inputs {
  width: 50ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.decksize {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  background-color: #ff00009a;
  padding: 10px;
  width: 90%;
  text-align: center;
}

label {
  font-family: 'Press Start 2P';
  margin: 20px;
}



.submit {
  margin-top: 30px;
}


#deckSize {
  float: right;
  font-family: 'Press Start 2P';
  font-size: 1em;
  width: 10ch;
  margin: 3px;
}

#deckSize:focus {
  border: none;
}


.victoryBanner {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5em;
  color: var(--purple);
  background-color: var(--yellow);
  -moz-animation: slideDown 1000ms ease-out;
  -o-animation: slideDown 1000ms ease-out;
  -webkit-animation: slideDown 1000ms ease-out;  
  animation: slideDown 1000ms ease-out;
  z-index: 2;
}


.vibrate {
  -moz-animation: vibrate 1000ms ease-out;
  -o-animation: vibrate 1000ms ease-out;
  -webkit-animation: vibrate 1000ms ease-out;  
  animation: vibrate 1000ms ease-out;
}

.spin {
  -moz-animation: spin 1000ms ease-out;
  -o-animation: spin 1000ms ease-out;
  -webkit-animation: spin 1000ms ease-out;  
  animation: spin 1000ms ease-out;
}

.slideUp {
  -moz-animation: slideUp 1000ms ease-out;
  -o-animation: slideUp 1000ms ease-out;
  -webkit-animation: slideUp 1000ms ease-out;  
  animation: slideUp 1000ms ease-out;
}

.noDisplay {
  display: none;
  transform: translateY(-100vh);
}


@media only  screen and (max-width: 900px){
  .playerTwoCard.card{
    display: none;
  }
  .marginedArea {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: stretch;
  }
  .stats {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .stat {
    font-size: 0.7em;
  }
  .card {
    width: 90%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .mainMenu {
    font-size: 0.5em;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0vh);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0vh);
  }
  to {
    transform: translateY(-100vh);
  }
}



@keyframes vibrate {
  from, to{
    transform: translateY(0);
    background-color: rgba(200, 0, 0, 0);
    background-blend-mode: multiply;
  }
  50% {
    background-color: rgba(200, 0, 0, 1);
    background-blend-mode: multiply;
    transform: translateY(100vh);
  }
}

@keyframes spin {
  from, to{
    transform: translateY(0);
    background-color: rgba(0, 200, 0, 0);
    background-blend-mode: multiply;
  }
  50% {
    background-color: rgba(0, 200, 0, 1);
    background-blend-mode: multiply;
    transform: translateY(-100vh);
  }
}

@keyframes slideUp {
  from {

  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes flipCard {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@-webkit-keyframes gradientAnimated {
  0%{background-position:0% 20%}
  50%{background-position:100% 81%}
  100%{background-position:0% 20%}
}
@-moz-keyframes gradientAnimated {
  0%{background-position:0% 20%}
  50%{background-position:100% 81%}
  100%{background-position:0% 20%}
}
@-o-keyframes gradientAnimated {
  0%{background-position:0% 20%}
  50%{background-position:100% 81%}
  100%{background-position:0% 20%}
}
@keyframes gradientAnimated {
  0%{background-position:0% 20%}
  50%{background-position:100% 81%}
  100%{background-position:0% 20%}
}
